vendor/
bin/
**/\.terraform/
terraform-provider-alicloud
crash.log
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.log
*.bak
/.gitignore.swp
*.tfvars
glide.lock
.DS_Store
.idea
*.pem
*.backup