sudo: false
language: go
go:
  - 1.7.3

script:
  - go get -u github.com/kardianos/govendor
  - govendor init
  - govendor fetch github.com/denverdino/aliyungo/...
  - govendor fetch github.com:aliyun/aliyun-oss-go-sdk/...
  - govendor fetch github.com/hashicorp/terraform/...
  - make test
branches:
  only:
    - dev
    - master
notifications:
  irc:
    channels:
      - irc.freenode.org#alicloud-terraform
    skip_join: true
    use_notice: true
matrix:
  fast_finish: true
  allow_failures:
    - go: tip
